/* Make buttons look like buttons */
a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24292e;
    color: white !important;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
a.btn:hover {
    background-color: #444;
}

/* Improve Table readability */
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}